name: Publish docs via GitHub Pages

on:
  push:
    branches:
      - main
      - master
    paths:
      - 'docs/**'
      - '.github/workflows/mkdocs.yml'
  workflow_dispatch:  # Allow manual trigger

permissions:
  contents: write

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r docs/requirements.txt

      - name: Build and deploy docs
        run: |
          cd docs
          mkdocs gh-deploy --force --config-file mkdocs.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

